:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  background-color: #242424;
}

input, select {
  border-radius: 8px;
  border: 2px solid #9c9c9c;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: inherit;
}

input:focus, select:focus {
  outline: none;
  border: 2px solid #646cff;
}

button {
  padding: .75rem 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  color: #f2f2f2;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all ease-in 0.4s;
}

button:hover:not(:disabled) {
  color: #ffffff;
  background-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 2px solid #646cff;
}

button:disabled {
  color: #797979;
  cursor: not-allowed;
}

@media screen and (max-width: 368px) {
  input, select {
    width: 100%;
  }
}